@import url('http: //fonts.googleapis.com/css/family=Quicksand: 400,500&subset=latin-ext');
body {
 padding:100px;
 background-image: blue;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
}
ul {
	margin-left:-45px ;
}
li {
	list-style: none;
	display: inline-block;

}

}
h1	{
	text-align: center;
	font-size: 30px;
	margin: 0;
	font-weight: bold;
	color: wheat;
}


